In [1]:
import pandas as pd

In [2]:
filename = "w241_matches_only.csv"

In [3]:
df = pd.read_csv(filename)

In [4]:
df.head()

,Owner,Profile Name,City,Control vs Treatment,Date,Swipes,Likes,Matches,Comments,OwnerNum,ProfileNum,CityNum,ExpDay_profile,Match_to_swipe
0,Brian,Sean Matthews,New York,Control,10/9,10,0,0,1.0,1,1,1,1,0.0
1,Brian,Sean Matthews,San Francisco,Treatment,10/9,10,0,0,0.0,1,1,0,1,0.0
2,Quazi,Matt Anderson,San Francisco,Treatment,10/9,10,7,2,1.0,5,5,0,1,0.2
3,Quazi,Matt Anderson,New York,Control,10/9,10,11,1,0.0,5,5,1,1,0.1
4,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1

In [5]:
df_has_potential_match = df.copy()

df_has_potential_match_y = df_has_potential_match.copy()
df_has_potential_match_y["dup_cnts"] = df_has_potential_match_y["Matches"]
df_has_potential_match_y = df_has_potential_match_y.reindex(
    df_has_potential_match_y.index.repeat(
        df_has_potential_match_y["dup_cnts"]
    )
)
df_has_potential_match_y["match"] = 1

df_has_potential_match_n = df_has_potential_match.copy()
df_has_potential_match_n["dup_cnts"] = (
    df_has_potential_match_n["Swipes"] - df_has_potential_match_n["Matches"]
)
df_has_potential_match_n = df_has_potential_match_n.reindex(
    df_has_potential_match_n.index.repeat(
        df_has_potential_match_n["dup_cnts"]
    )
)
df_has_potential_match_n["match"] = 0

In [6]:
df_expanded = pd.concat(
    [
        df_has_potential_match_y,
        df_has_potential_match_n,
        # df_no_match,
    ]
).reset_index(drop=True)

In [7]:
df_expanded["day_name"] = pd.to_datetime(df_expanded["Date"] + "/23").dt.day_name()
df_expanded["weekday"] = pd.to_datetime(df_expanded["Date"] + "/23").dt.weekday

In [8]:
(
    df_expanded
    .sort_values(["Owner", "Profile Name", "City", "Control vs Treatment", "Date"])
    .head(50)
)

,Owner,Profile Name,City,Control vs Treatment,Date,Swipes,Likes,Matches,Comments,OwnerNum,ProfileNum,CityNum,ExpDay_profile,Match_to_swipe,dup_cnts,match,day_name,weekday
3,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,1,1,Tuesday,1
332,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
333,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
334,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
335,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
336,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
337,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
338,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
339,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
340,Brian,Sean Matthews,New York,Control,10/10,10,9,1,0.0,1,1,1,2,0.1,9,0,Tuesday,1
367,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
368,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
369,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
370,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
371,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
372,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
373,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
374,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
375,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
376,Brian,Sean Matthews,New York,Control,10/11,10,2,0,0.0,1,1,1,3,0.0,10,0,Wednesday,2
400,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
401,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
402,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
403,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
404,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
405,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
406,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
407,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
408,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
409,Brian,Sean Matthews,New York,Control,10/12,10,5,0,0.0,1,1,1,4,0.0,10,0,Thursday,3
22,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,1,1,Friday,4
453,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
454,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
455,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
456,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
457,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
458,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
459,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
460,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
461,Brian,Sean Matthews,New York,Control,10/13,10,1,1,0.0,1,1,1,5,0.1,9,0,Friday,4
541,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
542,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
543,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
544,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
545,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
546,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
547,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
548,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
549,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5
550,Brian,Sean Matthews,New York,Control,10/14,10,1,0,0.0,1,1,1,6,0.0,10,0,Saturday,5

In [9]:
df_expanded.to_csv(filename.replace(".csv", "_expanded.csv"), index=False)

In [15]:
df_expanded.groupby("Control vs Treatment").count()

,Owner,Profile Name,City,Date,Swipes,Likes,Matches,Comments,OwnerNum,ProfileNum,CityNum,ExpDay_profile,Match_to_swipe,dup_cnts,match,day_name,weekday
Control vs Treatment,,,,,,,,,,,,,,,,,
Control,1376,1376,1376,1376,1376,1376,1376,1366,1376,1376,1376,1376,1376,1376,1376,1376,1376
Treatment,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376,1376

In [20]:
df_expanded["match"].isnull().sum()

0

In [ ]:
df_expanded["match"].isnull().sum()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')